@import "~leaflet.markercluster/dist/MarkerCluster.css";

.simple-cluster {

  &:hover {
    z-index: 8000511 !important;
  }

  .simple-cluster__cluster {
    width: 48px;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;

    &.simple-cluster__cluster--is-non-season {
      background: #CCCCCC;
    }

    &.simple-cluster__cluster--is-season {
      background: #212121;
    }

    .simple-cluster__cluster__counter {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .simple-cluster__point {
    min-width: 60px;
    height: 31px;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;

    &.simple-cluster__point--is-non-season {
      background: #CCCCCC;
    }

    &.simple-cluster__point--is-season {
      background: #212121;

      &:hover {
        .simple-cluster__point__baloon {
          background-image: url("./icons/baloon-hovered.svg");
        }

        .simple-cluster__point__title {
          color: #FFD41E;
        }
      }
    }

    .simple-cluster__point__baloon {
      height: 100%;
      background-position: center;
      width: 28px;
      background-repeat: no-repeat;
      background-image: url("./icons/baloon.svg");
    }

    .simple-cluster__point__title {
      left: 26px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 11px;
    }
  }

  .simple-cluster__info {
    z-index: 1000000000;
    position: absolute;
    top: 24px;
    right: 142px;
    margin: 0;
    width: 166px;
    height: 48px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;

    .simple-cluster__info__air-icon {
      background-image: url("./icons/sun.svg");
      position: absolute;
      left: 7.23%;
      right: 78.31%;
      top: 25%;
      bottom: 25%;
    }

    .simple-cluster__info__air {
      position: absolute;
      left: 26.51%;
      right: 53.61%;
      top: 20.83%;
      bottom: 20.83%;
    }

    .simple-cluster__info__water-icon {
      position: absolute;
      left: 52.41%;
      right: 33.13%;
      top: 25%;
      bottom: 25%;
      background-image: url("./icons/water.svg");
    }

    .simple-cluster__info__water {
      position: absolute;
      left: 71.69%;
      right: 8.43%;
      top: 20.83%;
      bottom: 20.83%;
    }

    .simple-cluster__info__air, .simple-cluster__info__water {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
    }
  }

  .simple-cluster__legend{
    z-index: 1000000000;
    position: absolute;
    top: 24px;
    right: 24px;
    margin: 0;
    width: 106px;
    height: 48px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .simple-cluster__dot-black{
      position: absolute;
      width: 12px;
      height: 12px;
      left: 12px;
      top: 9px;

      background-image: url("./icons/dot-black.svg");
    }

    .simple-cluster__text-black{
      position: absolute;
      left: 28px;
      top: 7px;

      /* Text/ui/text */

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      /* identical to box height, or 145% */


      /* Text/black */

      color: #212121;
    }

    .simple-cluster__dot-gray{
      position: absolute;
      width: 12px;
      height: 12px;
      left: 12px;
      top: 27px;
      background-image: url("./icons/dot-gray.svg");
    }

    .simple-cluster__text-gray{
      position: absolute;
      left: 28px;
      top: 25px;

      /* Text/ui/text */

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      /* identical to box height, or 145% */


      /* Text/black */

      color: #212121;
    }
  }

  &.leaflet-control-zoom{
    position: absolute;
    bottom: 24px;
    right: 24px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;

    box-shadow: none!important;
    border: none!important;

    a {
      &.leaflet-control-zoom-in, &.leaflet-control-zoom-out {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        margin-top: 8px;
        color: transparent;

        div {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &.leaflet-control-zoom-in{
        div {
          background-image: url("./icons/plus.svg");
        }
      }

      &.leaflet-control-zoom-out{
        div {
          background-image: url("./icons/minus.svg");
        }
      }
    }
  }
}
